
   .feed-grid-container {
      display: grid;
      grid-template-columns: 60% 10% 10% 10% 10%;
      grid-template-rows: auto;
      border-bottom: 1px solid gray;
      align-items: center;
    }

    #feedItemTitle{
      text-align: left;
      margin-left: 0px;
    }