
  
  .feed-grid-container {
      display: grid;
      grid-template-columns: 70% 10% 10% 10% ;
      border-bottom: 1px solid gray;
      height: 72px;
    }
  
    .feed-item {
      font-size: 15px;
      text-align: left;
      align-content: left;
      margin: auto;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      text-overflow: ellipsis;
      color: rgb(211, 211, 211);
      vertical-align: middle;
    }

    #feedItemTitle{
      align-content: flex-start;
      position: absolute;
      left: 50px;
    }

    