
.vs/podkast/v15/Server/sqlite3/db.lock
*.ide-wal
.vs/podkast/v15/Server/sqlite3/storage.ide-shm
.vs/podkast/v15/Server/sqlite3/storage.ide
*.dll
*.cache
*.cache
podkast.shared/bin/Debug/netstandard2.0/Podkast.Shared.deps.json
podkast.shared/bin/Debug/netstandard2.0/Podkast.Shared.deps.json
podkast.shared/bin/Debug/netstandard2.0/Podkast.Shared.dll
podkast.shared/bin/Debug/netstandard2.0/Podkast.Shared.pdb
podkast/ClientApp/package-lock.json
*.targets
podkast.shared/obj/podkast.shared.csproj.nuget.g.targets
podkast.shared/obj/Podkast.Shared.csproj.nuget.g.props
podkast.shared/obj/Debug/netstandard2.0/Podkast.Shared.pdb
podkast.shared/bin/Debug/netstandard2.0/Podkast.Shared.deps.json
podkast/ClientApp/package-lock.json
podkast.shared/obj/Debug/netstandard2.0/Podkast.Shared.csproj.CoreCompileInputs.cache
.vs/podkast/v15/.suo
.vs/podkast/v15/.suo
.vs/podkast/v15/.suo
/.vs/podkast/v16/Server/sqlite3/storage.ide
/.vs/podkast/v16/Server/sqlite3/db.lock
/.vs/podkast/v16/.suo
/.vs/podkast/DesignTimeBuild/.dtbcache
/.vs/podkast/config/applicationhost.config
podkast.shared/obj/*
podkast.shared/bin/*
*.dll
podkast.shared/obj/Debug/netstandard2.0/Podkast.Shared.pdb
*.pdb
/podkast/bin
/podkast/obj
.vs/podkast/v16/Server/sqlite3/storage.ide-shm
