.podcast-result-container{
  border: solid rgba(0, 0, 0, 0.8) 1px;
  border-radius: 20px;
  background-color: gray;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.grid-container {
    display: grid;
    grid-template-columns: 30% 70%;
  }

  .grid-item {
    font-size: 15px;
    text-align: left;
  }