.podcast-result-container{
border-bottom: solid 1px gray;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.grid-container {
    display: grid;
    grid-template-columns: 30% 70%;
  }

  .grid-item {
    font-size: 15px;
    text-align: left;
  }