.audio-player{
    position: fixed;
    z-index: 1031;
    bottom: 0; 
    height: 80px;
    color: #222;
    background-color: #222;
    overflow: hidden;
    border: solid 1px #375a7f;
    width: 100%;
} 

.audio-player-button-collapsed{
    position: fixed;
    z-index: 1031;
    bottom: 0; 
    border: solid 1px #375a7f;
}

.podcast-player-controls-grid{
    display: grid;
    grid-template-columns: repeat(3,33%);
}

.playOrPauseButton{
    
}