.audio-player{
    position: fixed;
    z-index: 1031;
    bottom: 0; 
    height: 80px;
    color: #222;
    background-color: #222;
    overflow: hidden;
    border: solid 1px #375a7f;
    width: 100%;
} 

.audio-player-button-collapsed{
    position: fixed;
    z-index: 1031;
    bottom: 0; 
    border: solid 1px #375a7f;
}

#audio-player-grid{
    display: grid;
    grid-template-columns: 33% 67%;
}

.podcast-player-controls-grid{
    display: grid;
    grid-template-columns: repeat(3,33%);
}

#audioSlider{
    display: grid;
    grid-template-columns: 5% 85% 10%;
}

label {
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}
.playOrPauseButton{
    
}