.audioButton{
    border: solid;
    border-width: 5px;
    border-radius: 20%;
    height: 40px;
    width: 40px;
    border-color: #375a7f;
    background-color: #222;
    color:  #375a7f;
}

.audioButtonSmall{
    border: solid;
    border-width: 5px;
    border-radius: 20%;
    height: 35px;
    width: 35px;
    border-color: #375a7f;
    background-color: #222;
    color:  #375a7f;
}